# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
.env
.env.*

# Binaries and executables
*.exe
*.exe~
backend/backend
backend/server
backend/backend_new

# Database files
*.sql
buya_backup.sql
buya_data.sql
buya_insert.sql

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Uploads
backend/uploads/
